body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #007090; /* Cor de fundo */
    color: white; /* Fonte branca */
    /* background-image: url('https://github.com/BINordeste/links_pbi/blob/main/LOGO%20GRUPO%20NORDESTE%20BRANCO%20-%20NOVA.png?raw=true'); Caminho relativo da imagem de fundo */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    height: 100vh; /* A altura ocupa 100% da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Necessário para posicionar a logo com position: absolute */
}

.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    max-width: 150px; /* Ajuste o tamanho da logo conforme necessário */
}

.date-time {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Espaço entre os botões */
    flex-wrap: wrap; /* Adiciona flex-wrap para melhorar a responsividade */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0DA9D5;
    color: white; /* Fonte branca nos botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.image-container {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

p {
    margin-bottom: 50px; /* Adiciona espaço entre o parágrafo e os botões */
}

.footer-text {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.contact-info {
    margin-top: 100px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.hidden { display: none; } /* Classe para esconder categorias de botões */

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
        max-width: 300px; /* Limita o tamanho máximo do botão */
    }
}
